:root {
  --textColor: white;
  --bgColor: #0abab569;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Txt';
    src: url('../fonts/txt.ttf') format('truetype');
}

body {
    color: var(--textColor);
    font-family: 'Txt', serif;
    background-color: var(--bgColor);
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  max-width: 1460px;
  margin: 0 auto;
  padding: 200px 20px 20px 20px;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

.block {
    background-color: var(--bgColor);
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px;
}

.nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.5em;
    width: calc(100% - 40px);
    overflow: auto;
}

.logoBlock {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.9em;
    font-weight: 500;
    cursor: pointer;
}

.logoSite {
    width: 70px;
}

.link {
  padding: 5px 10px;
  transition: 1.2s transform ease;
  transform: translateY(0px) scale(1);
  white-space: nowrap;
  cursor: pointer;
  width: max-content;
  height: max-content;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: linear-gradient(90deg, #ffffff, #3e3e3e00);
  border-radius: 3px;
  transition: 0.5s ease;
}

.link:hover {
  transform: translateY(-5px) scale(1.07);
}

.link:hover::after {
  width: 100%;
}

.separateur {
  font-size: 2em;
}

.blockPage {
  font-size: 2em;
  width: max-content;
  display: flex;
  gap: 20px;
  align-items: center;
}

.imgPage {
  width: 38px;
}

.description {
  max-width: fit-content;
}

.footer {
    display: flex;
    align-items: center;
    gap: 50px;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0px;
  justify-content: space-between;
  width: 100%;
}

.error {
  max-width: max-content;
  margin: 0px auto 70px auto;
  display: none;
}

.imgError {
  width: 100%;
}

.notFound {
  font-size: 2em;
  margin: 25px;
  overflow-wrap: break-word;
  line-height: 50px;
}

.content {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #0abab4;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97);
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media screen and (max-width: 768px) {
  .link:hover {
    transform: translateY(0px);
    scale: 1;
  }

  .link:hover::after {
    width: 0%;
  }
}