.bar {
    height: 55px;
    overflow: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    gap: 90px;
    overflow-y: hidden;
}

.modify {
    display: flex;
    gap: 30px;
    align-items: center;
}

.imgBar {
    width: 30px;
}

.write {
    background-color: var(--textColor);
    color: black;
    border-radius: 20px;
    padding: 4%;
    overflow: auto;
    height: 1100px;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}

.blockWrite.active {
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    transform: translate(-50%, -330px);
    z-index: 1100;
    height: max-content;
}

.inputHidden {
    width: 0px;
    height: 0px;
    position: absolute;
    visibility: hidden;
}

.inputNote {
    width: 80px;
}

@media screen and (max-width: 1235px) {
    .bar {
        justify-content: left;
    }
}