* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*@font-face {
    font-family: 'Txt';
    src: url('./fonts/txt.ttf') format('truetype');
}*/

body {
    color: white;
    font-family: 'Txt', serif;
    margin: 40px 10px;
    background-color: rgb(49, 71, 71);
}