body {
    color: white;
    font-family: 'Txt', serif;
    margin: 30px 10px;
    background-image: url(../image/bg-home.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: max-content;
    background-color: #0abab5;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;

}

.logoImg {
    width: 80px;
    height: auto;
}

.logoTxt {
    font-family: 'TitleLogo', sans-serif;
    font-size: 2.1em;
}

.para {
    font-size: 1.1em;
    max-width: 1000px;
    background-color: #0abab5;
    padding: 35px;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
    text-align: justify;
    line-height: 30px;
}

.paraTitle {
    font-size: 1.8em;
    position: relative;
    margin-bottom: 30px;
}



.cubeContainer {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position: relative;
  margin: 150px auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 15s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px;
}

.top {

  transform: rotateX(90deg) translateZ(100px);
}
.bottom {


  transform: rotateX(-90deg) translateZ(100px);
}

.right {


  transform: rotateY(90deg) translateZ(100px);
}
.left {

  transform: rotateY(-90deg) translateZ(100px);
}

.front {
    transform: rotateX(0deg) translateZ(100px);
}

.img {
    width: 100%;
    height: 100%;
}

.back {

  transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
  from {
    transform: rotateX(-360deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.double {

    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
    position: relative;
    margin: 30px auto 0px;
    gap: 69px;

}

.footer {

    text-decoration: none;
    font-size: 0.9em;
    background-color:#0abab5;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.footer:nth-child(1) {
    font-size: 1.1em;
}